@import "tailwindcss";

@layer base {
  :root {
    --orbit-01: #2a1a11;
    --orbit-02: #5c3a27;
    --orbit-03: #f8e1c8;
    --orbit-04: #f2a7a0;
    --orbit-05: #88afc6;
    --orbit-01-rgb: 42 26 17;
    --orbit-02-rgb: 92 58 39;
    --orbit-03-rgb: 248 225 200;
    --orbit-04-rgb: 242 167 160;
    --orbit-05-rgb: 136 175 198;
  }
}

@layer utilities {
  .bg-orbit-01 {
    background-color: var(--orbit-01);
  }

  .bg-orbit-03 {
    background-color: var(--orbit-03);
  }

  .bg-orbit-04 {
    background-color: var(--orbit-04);
  }

  .bg-orbit-04\/20 {
    background-color: rgb(var(--orbit-04-rgb) / 0.2);
  }

  .hover\:bg-orbit-04:hover {
    background-color: var(--orbit-04);
  }

  .hover\:bg-orbit-04\/20:hover {
    background-color: rgb(var(--orbit-04-rgb) / 0.2);
  }

  .focus-visible\:outline-orbit-04:focus-visible {
    outline-color: var(--orbit-04);
  }

  .bg-panel-soft {
    background-color: rgb(var(--orbit-01-rgb) / 0.35);
  }

  .bg-panel {
    background-color: rgb(var(--orbit-01-rgb) / 0.96);
  }

  .bg-menu {
    background-color: rgb(var(--orbit-01-rgb) / 0.94);
  }

  .bg-overlay {
    background-color: rgb(var(--orbit-01-rgb) / 0.55);
  }

  .bg-backdrop {
    background-color: rgb(var(--orbit-01-rgb) / 0.65);
  }

  .text-orbit-01 {
    color: var(--orbit-01);
  }

  .text-orbit-03 {
    color: var(--orbit-03);
  }

  .text-orbit-03\/50 {
    color: rgb(var(--orbit-03-rgb) / 0.5);
  }

  .text-orbit-03\/85 {
    color: rgb(var(--orbit-03-rgb) / 0.85);
  }

  .text-orbit-05 {
    color: var(--orbit-05);
  }

  .border-orbit-02 {
    border-color: var(--orbit-02);
  }

  .border-orbit-03\/35 {
    border-color: rgb(var(--orbit-03-rgb) / 0.35);
  }

  .border-orbit-03\/40 {
    border-color: rgb(var(--orbit-03-rgb) / 0.4);
  }

  .font-orbitron {
    font-family: Orbitron, "Trebuchet MS", sans-serif;
  }

  .font-trebuchet {
    font-family: "Trebuchet MS", sans-serif;
  }

  .shadow-context-menu {
    box-shadow: 0 12px 24px rgb(var(--orbit-01-rgb) / 0.35);
  }

  .touch-manipulation {
    touch-action: manipulation;
  }
}

@layer components {
  .stats-panel {
    @apply mt-4 w-[min(80vw,540px)] max-w-[600px] overflow-hidden transition-[height,opacity] duration-200 ease-out;
    height: var(--stats-panel-height, 0px);
  }

  .icon-glyph {
    display: block;
    width: 22px;
    height: 22px;
    background-color: var(--orbit-03);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
  }

  .icon-glyph--settings {
    mask-image: url("../assets/cogwheel-svgrepo-com.svg");
    -webkit-mask-image: url("../assets/cogwheel-svgrepo-com.svg");
  }

  .icon-glyph--info {
    mask-image: url("../assets/question-mark-circle-outline-svgrepo-com.svg");
    -webkit-mask-image: url("../assets/question-mark-circle-outline-svgrepo-com.svg");
  }
}
