name: Rust

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: install targets
      run: rustup target add wasm32-unknown-unknown
    
    - name: Cache cargo
      uses: Swatinem/rust-cache@v2

    # - name: Install trunk
    #   run: cargo install trunk

    # - name: Build with trunk
    #   run: trunk build --release

    - name: Deploy to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        command: pages deploy --commit-dirty=true
        wranglerVersion: "4.42.0"
    
